body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 32px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

main {
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    font-size: 200%;
    text-align: center;
    border-bottom: 1px solid #fff;
    height: 200px;
}

ul {
    padding: 0;
    border-top: 1px solid #000000;
    display: table;
    /* 定義 */
    table-layout: fixed;
    width: 100%;
}

li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
}

li:hover {
    background: #0066CC;
    color: #fff;
}

/* じゃんけんの勝敗の文字に色を付ける */
#judgment {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

/* 結果ごとの色設定 */
.win {
    color: red;
}

.lose {
    color: blue;
}

.draw {
    color: gray;
}